<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} //
       {% endif %}
       Neil Bartlett
     </title>
     <meta name="author" content="Neil Bartlett" />
     {% if page.summary %}
       <meta name="description" content="{{ page.summary }}" />
     {% endif %}
     <link href="http://feeds2.feedburner.com/njbartlett" rel="alternate" title="Neil Bartlett" type="application/atom+xml" />

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}

	<script type="text/javascript">
	/* <![CDATA[ */
	    (function() {
	        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];

	        s.type = 'text/javascript';
	        s.async = true;
	        s.src = 'http://api.flattr.com/js/0.5.0/load.js?mode=auto';

	        t.parentNode.insertBefore(s, t);
	    })();
	/* ]]> */
	</script>
	<script type="text/javascript">
	/* <![CDATA[ */
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-651561-4']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	/* ]]> */
	</script>
  </head>
  <body>
    <div id="ribbon"><a href="http://github.com/njbartlett"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/images/forkme_left_gray.png" alt="Fork me on GitHub" /></a></div>

    <div id="site">
      <a id="subscribe" href="http://feeds.feedburner.com/njbartlett"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>

      <div id="search_area" style="display: none">
        <label for="search" style="display: none">Search</label>
        <img src="/images/cancel.png" alt="X"/>
        <input id="search" />
      </div>

	
	<div id="breadcrumbs">
	<a href="/index.html">Home</a>
	{% if page.title != 'Home' %}
		{% if page.breadcrumbs %}
			{% for breadcrumb in page.breadcrumbs %}
			» <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
			{% endfor %}
		{% endif %}
		» <a href="{{ page.url }}">{{ page.title }}</a>
	{% endif %}
	</div>

      <h1>Neil Bartlett</h1>
      
      <div class="clear"></div>
      
      <div id="sidebar" class="vcard">
		<ul>
			<li><a href="http://www.paremus.com/"><img src="/images/logo-paremus.png"/></a></li>
			<li><a href="http://www.osgi.org/"><img src="/images/OSGiSupporter2010_150x92.png"></a></li>
			<li><a href="http://www.eclipse.org/"><img src="/images/friend_of_eclipse_150x80.jpeg"></a></li>
			<li><a href="http://bndtools.org/"><img src="/images/bndtools_text+logo_150x96.png"/></a></li>
		</ul>
		<h3>Navigation</h3>
		<ul id="pages">
			<li><a href="/index.html">Main</a></li>
			<li><a href="/about.html">About Me</a></li>
			<li><a href="/training.html">Training</a></li>
			<li><a href="/osgibook.html">OSGi in Practice</a><li>
		</ul>
        <h3>Contact</h3>
        <dl id="contact">
          <dt>Name</dt>
          <dd><a class="fn url" href="/">Neil Bartlett</a></dd>

          <dt>Email</dt>
          <dd class="email"><a href="mailto:njbartlett@gmail.com">njbartlett@gmail.com</a></dd>

          <dt>Telephone</dt>
          <dd class="tel"></a></dd>
          
        </dl>
        <h3>Other Sites</h3>
        <ul id="profiles">
          <li><a href="http://twitter.com/njbartlett">Twitter</a></li>

          <li><a href="http://github.com/njbartlett">GitHub</a></li>

          <li><a href="http://uk.linkedin.com/in/neilbartlett">LinkedIn</a></li>
        </ul>

      </div>
      
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js"></script>
      
      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

  </body>
</html>
