---
layout: default
---

<div id="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
  <p>
	{% if page.flattr %}
   <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;"
           href="{{ page.flattr }}"></a>
	{% endif %}
	<span class="postmeta">Posted on {{ page.date | date: "%d %B %Y" }}</span>
  </p>
</div>

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date: "%d %B %Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

 
